.reviews-header {
  display: flex;
  /* justify-content: space-between; */
  gap:15rem;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.header-title {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 1.1;
  padding-left: 4rem;
    font-style: italic;
}

.what {
  font-size: 70px;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: 4rem;
}

.they-say {
  font-size: 74px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -1px;
}

.stats-container {
  display: flex;
  gap: 60px;
  align-items: center;
}

.stat-item {
  text-align: center;
}

.stat-number {
  font-size: 48px;
  font-weight: 700;
  /* color: #FDB022; */
  margin: 0 0 8px 0;
  line-height: 1;
}

.stat-label {
  font-size: 24px;
  /* color: #FDB022; */
  margin: 0;
  font-weight: 500;
}
.slider-container {
   overflow: hidden;
  position: relative;
  height: calc((250px * 2) + 20px);
    width: 33.33%;
}

.slider-wrapper {
  display: flex;
    flex-direction: column;
transition: transform 1.8s ease-in-out;
  gap: 20px;
  padding-right: 10px;
    /* padding-bottom: 10px; */

}


.news-card {
  width: 90%;
  max-width: 90%;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, 0.2);

}


.card-header {
  margin-bottom: 15px;
  display: flex;
  margin-left: auto;
  gap: 11rem;
  .card-stars {
  display: flex;
  gap: 4px;
  color:#f7d000
}
}

.category {
  padding: 6px 12px;
  font-size: 10px;
  font-weight: 700;
  color: #000;
  background-color: #000000;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.card-content {
  flex: 1;
}

.card-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 12px 0;
}

.card-content p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.card-image {
  margin-top: 15px;
  display: flex;
  justify-content: center;

}

.card-image img {
  border-radius: 10px;
  width: 50%;
  object-fit: cover;
}

/* شاشة أكبر من 768px */
/* @media (min-width: 768px) {
  .news-card {
    max-width: calc((100% - 40px) / 3.2);
  }
} */

@media (max-width: 768px) {
  .reviews-header {
  display: flex;
  /* justify-content: space-between; */
  gap:4rem;
  align-items: center;
  margin-bottom: 20px;
  /* padding: 0 20px; */
}

.header-title {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 1.1;
  /* padding-left: 4rem; */
    font-style: italic;
     padding: 0px;
}

.what {
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: 1rem;
}

.they-say {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -1px;
}

.stats-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.stat-item {
  text-align: center;
}

.stat-number {
  font-size: 20px;
  font-weight: 700;
  /* color: #FDB022; */
  /* margin: 0 0 8px 0; */
  line-height: 1;
}

.stat-label {
  font-size: 16px;
  /* color: #FDB022; */
  margin: 0;
  font-weight: 500;
}
  .card-header {
  margin-bottom: 15px;
  display: flex;
  margin-left: auto;
  gap: 7rem;
  .card-stars {
  display: flex;
  gap: 4px;
  color:#f7d000
}
  }
  .slider-wrapper {
      display: flex;
    flex-direction: column;
transition: transform 2.2s ease-in-out;
  gap: 20px;
  padding-right: 10px;
  }
  .slider-container {
       overflow: hidden;
  position: relative;
  height: calc((250px * 2) + 20px);
    width: 100%;
  }
  .news-card {
    max-width: 90%;
  }

  .header h2 {
    font-size: 24px;
  }

  .featured-news-container {
    padding: 20px 15px;
  }
}
