<!-- <h2 class="text-6xl font-bold my-10 mx-[20px] px-4  text-fontPrimary">Trusted By</h2> -->

<div class="marquee">
  <ul class="marquee-content">
    <li>
      <a href="#" title="Samsung">
        <img src="/Black SVG/Aristo Logo.svg" alt="Samsung" />
      </a>
    </li>
    <li>
      <a href="#" title="LG">
        <img src="/Black SVG/Ark of Sweeden Logo.svg" alt="LG" />
      </a>
    </li>
    <li>
      <a href="#" title="Tornado">
        <img src="/Black SVG/Bettina Barty Logo.svg" alt="Tornado" />
      </a>
    </li>
    <li>
      <a href="#" title="Toshiba">
        <img src="/Black SVG/Cellavent Logo.svg" alt="Toshiba" />
      </a>
    </li>
    <li>
      <a href="#" title="Ultra">
        <img src="/Black SVG/Comsol Logo.svg" alt="Ultra" />
      </a>
    </li>
    <li>
      <a href="#" title="White Whale">
        <img src="/Black SVG/GEOtec Logo.svg" alt="White Whale" />
      </a>
    </li>
    <li>
      <a href="#" title="Ariston">
        <img src="/Black SVG/Healthy tree co Logo.svg" alt="Ariston" />
      </a>
    </li>
    <li>
      <a href="#" title="Ariston">
        <img src="/Black SVG/Herbal Mana Logo.svg" alt="Ariston" />
      </a>
    </li>
    <li>
      <a href="#" title="Ariston">
        <img src="/Black SVG/Jersey Botanical Logo.svg" alt="Ariston" />
      </a>
    </li>
    <li>
      <a href="#" title="Ariston">
        <img src="/Black SVG/Krymso Logo.svg" alt="Ariston" />
      </a>
    </li>
    <li>
      <a href="#" title="Ariston">
        <img src="/Black SVG/LOrenta Nuts Logo.svg" alt="Ariston" />
      </a>
    </li>
    <li>
      <a href="#" title="Ariston">
        <img src="/Black SVG/MARBERT Germany Logo.svg" alt="Ariston" />
      </a>
    </li>
    <li>
      <a href="#" title="Ariston">
        <img src="/Black SVG/Pleximart Logo.svg" alt="Ariston" />
      </a>
    </li>
    <li>
      <a href="#" title="Ariston">
        <img src="/Black SVG/Straub Marbert Logo.svg" alt="Ariston" />
      </a>
    </li>
  </ul>
</div>
