<app-hero-two></app-hero-two>
<div class="min-h-screen py-12 px-1 sm:px-2 lg:px-4 dark:bg-dark-background">
  <div class="max-w-6xl mx-auto">
    <div class="rounded-lg overflow-hidden">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-0">
        <!-- Left Side - Contact Form -->
        <div class="p-8 lg:p-12">
          <h2
            class="text-3xl font-bold text-fontPrimary mb-8 tracking-wide font-exo"
          >
            Send us a message
          </h2>

          <form (ngSubmit)="onSubmit()" class="space-y-6">
            <!-- Name Input -->
            <div>
              <input
                type="text"
                [(ngModel)]="formData.name"
                name="name"
                placeholder="Your Name"
                class="w-full px-4 py-3 bg-white border border-fontPrimary rounded-md focus:outline-none focus:ring-2 focus:border-transparent transition duration-200 placeholder-gray-500"
                required
              />
            </div>

            <!-- Phone Input -->
            <div>
              <input
                type="tel"
                [(ngModel)]="formData.phone"
                name="phone"
                placeholder="Phone Number"
                class="w-full px-4 py-3 bg-white border border-fontPrimary rounded-md focus:outline-none focus:ring-2 focus:border-transparent transition duration-200 placeholder-gray-500"
                required
              />
            </div>

            <!-- Email Input -->
            <div>
              <input
                type="email"
                [(ngModel)]="formData.email"
                name="email"
                placeholder="Your Email"
                class="w-full px-4 py-3 bg-white border border-fontPrimary rounded-md focus:outline-none focus:ring-2 focus:border-transparent transition duration-200 placeholder-gray-500"
                required
              />
            </div>

            <!-- Submit Button -->
            <div class="pt-4">
              <button
                type="submit"
                class="bg-fontPrimary hover:bg-amber-800 text-white font-semibold py-3 px-8 rounded-md transition duration-200 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-offset-2"
              >
                Send Enquiry
              </button>
            </div>
          </form>
        </div>

        <!-- Right Side - Contact Info -->
        <div class="p-8 lg:p-12 lg:mt-16">
          <h2
            class="text-3xl font-bold text-fontPrimary mb-8 tracking-wide font-exo"
          >
            Contact info
          </h2>

          <div class="">
            <!-- Location
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <i class="fas fa-map-marker-alt text-fontPrimary text-lg mt-1"></i>
                  </div>
                  <div>
                    <p class="text-fontSecondary font-medium">Dubai, United Arab Emirates</p>
                  </div>
                </div> -->

            <!-- Email -->
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <i class="fas fa-envelope text-fontPrimary text-lg mt-1"></i>
              </div>
              <div>
                <p class="text-fontSecondary font-medium">
                  <a href="mailto:info@snap-studio.ae" class="hover:underline">
                    info&commat;snap-studio.ae</a
                  >
                </p>
              </div>
            </div>
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <i class="fas fa-envelope text-fontPrimary text-lg mt-1"></i>
              </div>
              <div>
                <p class="text-fontSecondary font-medium">
                  <a href="mailto:snap.studi@gmail.com" class="hover:underline">
                    snap.studi&commat;gmail.com</a
                  >
                </p>
              </div>
            </div>

            <!-- Phone -->
            <div class="flex items-center space-x-4 mt-2">
              <div class="flex-shrink-0">
                <i class="fa-brands fa-whatsapp text-fontPrimary text-lg"></i>
              </div>
              <div>
                <p class="text-fontSecondary font-medium">
                  <a
                    [href]="whatsappUrl"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    +20 12 088 55866</a
                  >
                </p>
              </div>
            </div>
            <div class="flex items-center space-x-4 mt-2">
              <div class="flex-shrink-0">
                <i class="fa-brands fa-whatsapp text-fontPrimary text-lg"></i>
              </div>
              <div>
                <p class="text-fontSecondary font-medium">
                  <a
                    [href]="whatsappUrl2"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    +971 55 770 6719</a
                  >
                </p>
              </div>
            </div>

            <!-- Social Media -->
            <div class="pt-8">
              <div
                class="flex space-x-4 text-primary dark:text-dark-primary text-xl"
              >
              <a
                  href="https://www.behance.net/snap-studio"
                  class="hover:scale-110 transition-transform duration-200"
                >
                  <i class="fab fa-behance"></i>
                </a>
                <a
                  href="https://www.facebook.com/SNAP.Studio.a"
                  class="hover:scale-110 transition-transform duration-200"
                >
                  <i class="fab fa-facebook"></i>
                </a>
                <a
                  href="https://www.instagram.com/snap.studio.official/"
                  class="hover:scale-110 transition-transform duration-200"
                >
                  <i class="fab fa-instagram"></i>
                </a>
                <a
                  href="https://www.tiktok.com/@snapstudio.ae"
                  class="hover:scale-110 transition-transform duration-200"
                >
                  <i class="fab fa-tiktok"></i
              >
                </a>
                <a
                  href="https://x.com/SNAPStudio_"
                  class="hover:scale-110 transition-transform duration-200"
                >
                  <svg
                class="w-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 640"
              >
                <!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path
                  fill="#AF8255"
                  d="M453.2 112L523.8 112L369.6 288.2L551 528L409 528L297.7 382.6L170.5 528L99.8 528L264.7 339.5L90.8 112L236.4 112L336.9 244.9L453.2 112zM428.4 485.8L467.5 485.8L215.1 152L173.1 152L428.4 485.8z"
                />
              </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d462391.6317540148!2d55.242596!3d25.120993!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sus!4v1751150780366!5m2!1sen!2sus"
    width="100%"
    height="500"
    style="border: 0 ;border-radius: 1rem;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
