<div class="dark:bg-dark-background bg-thread test relative">
<section
  class="relative h-[450px] bg-cover bg-center px-4 flex items-center justify-center text-center"
  style="background-image: url('/about/hero.png');"
>
  <!-- Overlay layer -->
  <div class="absolute inset-0 bg-black opacity-70"></div>

  <!-- Content -->
  <div class="relative z-10">
    <h1 class="text-4xl md:text-5xl font-bold text-fontPrimary drop-shadow-lg font-exo">
      Frequently Asked Questions
    </h1>
    <p class="mt-4 text-2xl text-white">You've asked, and we've answered!</p>
  </div>
</section>

  <div class="container">
    <div class="section bg-white dark:bg-dark-background">
      <div class="image-wrapper">
        <img
          src="/about/section1.png"
          alt="Milestones and Achievements"
        />
      </div>
      <div class="text-container">
        <div class="icon-box">
          <i class="fas fa-hand-pointer icon"></i>
        </div>
        <h2 class="section-title text-fontPrimary">Our Vision</h2>
        <p class="section-content text-fontSecondary pb-6">
          Our vision is to redefine real estate by offering clients the highest standards of service, ensuring that every property experience is seamless, informed, and tailored to their needs. We aim to set a new benchmark in Dubai’s real estate market by bringing transparency, professionalism, and integrity to every transaction.
        </p>
      </div>
    </div>

    <div class="section bg-white dark:bg-dark-background">
      <div class="text-container">
        <div class="icon-box">
          <i class="fas fa-trophy"></i>
        </div>
        <h2 class="section-title text-fontPrimary">Our Expertise</h2>
        <p class="section-content text-fontSecondary pb-6">
          With years of experience in the Dubai real estate industry, we have developed in-depth market knowledge that allows us to identify trends and opportunities that benefit our clients. From luxurious residential properties in Dubai’s most iconic neighborhoods to high-return investment opportunities and bespoke commercial spaces, our expertise spans across every segment of the market.
        </p>
      </div>
      <div class="image-wrapper" style="margin-left: 15px">
        <img
          src="/about/section1.png"
          alt="Milestones and Achievements"
        />
      </div>
    </div>

    <div class="section bg-white dark:bg-dark-background">
      <div class="image-wrapper">
        <img
          src="/about/section1.png"
          alt="Innovation and Growth"
        />
      </div>
      <div class="text-container" style="padding-right: 15px">
        <div class="icon-box">
          <i class="fas fa-chart-line"></i>
        </div>
        <h2 class="section-title text-fontPrimary">Why Choose H&B Elite Properties?</h2>
          <ul class="section-content text-fontSecondary pb-6">
            <li><strong>Local Knowledge</strong> We have a deep understanding of Dubai’s real estate landscape, enabling us to offer strategic advice that maximizes value.</li>
            <li><strong>Personalized Service</strong> Our approach is centered around understanding your unique goals and ensuring a personalized experience, whether you’re buying, selling, or investing.</li>
            <li><strong>Client-Centric Focus</strong> We place our clients at the heart of everything we do, providing transparent, reliable, and honest advice.</li>
          </ul>
      </div>
    </div>
  </div>
  <!-- <div class="py-2">
    <app-analysis></app-analysis>
  </div> -->
</div>
