<app-hero-two></app-hero-two>
<div class="max-w-7xl mx-auto space-y-4 p-4 ">
  <div
    *ngFor="let card of cards"
    class="group relative overflow-hidden rounded-xl cursor-pointer"
  >
    <!-- الخلفية -->
    <div
      class="absolute inset-0 bg-gray-100 transition-all duration-500 ease-out group-hover:bg-pink-500"
    >
      <div
        class="absolute inset-0 bg-gradient-to-b from-pink-500 to-pink-500 translate-y-[-100%] group-hover:translate-y-0 transition-transform duration-500 ease-out"
      ></div>
    </div>

    <!-- المحتوى -->
    <div class="relative flex flex-col md:flex-row justify-between items-start md:items-end p-8 z-10 h-60 ">
      <h2
        class=" text-fontPrimary text-6xl font-serif transition-all duration-500 ease-out group-hover:font-extrabold group-hover:text-white"
      >
        {{ card.title }}
      </h2>

      <div >
        <div class=" text-fontPrimary font-bold uppercase text-sm group-hover:text-white">{{ card.subtitle }}</div>
        <a
          [href]="card.link"
          class="text-fontSecondary underline group-hover:text-black"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ card.linkText }}
        </a>
      </div>
    </div>
  </div>
</div>
<app-faq></app-faq>
