<section class="mx-[20px] px-4 py-10">
  <h2 class="text-6xl font-bold mb-[152px] text-fontPrimary">Selected work</h2>

  <div
    *ngIf="loading"
    class="mx-4 grid grid-cols-1 lg:grid-cols-2 gap-5 auto-rows-auto"
  >

    <ng-container *ngFor="let project of [1, 2, 3, 4, 5, 6]; let i = index">
      <div
        class="relative overflow-hidden rounded-lg bg-gray-300 aspect-video animate-pulse"
      ></div>
    </ng-container>
  </div>

  <div
    *ngIf="!loading"
    class="mx-4 grid grid-cols-1 lg:grid-cols-2 gap-5 auto-rows-auto"
  >
    <app-project-card
      *ngFor="let project of projects"
      [mediaType]="getPrimaryMedia(project)?.mediaType || 'image'"
      [src]="getPrimaryMedia(project)?.src || ''"
      [title]="project.title"
      [description]="project.description"
      (click)="onProjectCardClick(project)"
      class="cursor-pointer hover:scale-105 transition-transform duration-200"
    ></app-project-card>
  </div>
  <div class="flex justify-center mt-20 dark:text-white">
    <p class="text-4xl md:text-7xl font-semibold cursor-pointer">
      <a routerLink="/work" class="group relative inline-block overflow-hidden">
        <span><i class="fa-solid fa-arrow-right"></i></span> See all work
        <span
          class="absolute bottom-0 left-0 w-full h-[2px] bg-black dark:bg-white scale-x-0 origin-right transition-transform duration-300 group-hover:scale-x-100 group-hover:origin-left"
        ></span>
      </a>
    </p>
  </div>
</section>
