@keyframes moveBox {
  0% {
    left: -50px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    left: calc(100% - 20px);
    opacity: 1;
  }
  100% {
    left: calc(100% - 20px);
    opacity: 0;
  }
}

.box {
  position: absolute;
  top: 5px;
  left: -50px;
  animation: moveBox 3s linear infinite;
  z-index: 2;
}
