<section class="h-screen relative z-0">
  <div #videoContainer class="top-0 left-0 w-full h-screen absolute">
    <video
      loop
      muted
      autoplay
      class="w-full h-full object-cover hidden md:block"
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
    >
      <source src="/home/085d28ab.mp4" type="video/mp4" />
    </video>
    <video
      loop
      muted
      autoplay
      class="w-full h-full object-cover md:hidden"
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
    >
      <source src="/home/085d28ab.mp4" type="video/mp4" />
    </video>
  </div>
</section>

<section #textSection class="relative h-screen bg-black">
  <div #textContainer class="w-full h-full flex justify-center items-center">
    <div class=" text-center">
      <h1 class="text-4xl md:text-6xl lg:text-9xl font-bold ">A change in</h1>
      <h1 class="text-4xl md:text-6xl lg:text-9xl font-bold ">direction.</h1>
    </div>
  </div>
</section>
<div id="text-stop-trigger" class="h-5"></div>
<div #triggerSection >
</div>