<div
  class="fixed bottom-4 left-1/2 -translate-x-1/2 w-fit px-4 py-2 rounded-full bg-black/75 text-white overflow-hidden z-[100000]"
>
  <div
    class="relative z-10 flex items-center justify-between space-x-4 min-w-72"
  >
    <!-- Home -->
    <a
      routerLink="/"
      routerLinkActive="active-link bg-primary text-black"
      [routerLinkActiveOptions]="{ exact: true }"
      class="relative px-3 py-1 rounded-full transition-all duration-300 hover:bg-secondary hover:text-black"
    >
      <span
        class="indicator absolute -top-2 left-1/2 -translate-x-1/2 w-8 h-1 bg-yellow-400 rounded-full scale-x-0 transition-transform duration-300"
      ></span>
      Home
    </a>

    <!-- Work -->
    <a
      routerLink="/work"
      routerLinkActive="active-link bg-primary text-black"
      class="relative px-3 py-1 rounded-full transition-all duration-300 hover:bg-secondary hover:text-black"
    >
      <span
        class="indicator absolute -top-2 left-1/2 -translate-x-1/2 w-8 h-1 bg-yellow-400 rounded-full scale-x-0 transition-transform duration-300"
      ></span>
      Work
    </a>

    <!-- About -->
    <a
      routerLink="/about"
      routerLinkActive="active-link bg-primary text-black"
      class="relative px-3 py-1 rounded-full transition-all duration-300 hover:bg-secondary hover:text-black"
    >
      <span
        class="indicator absolute -top-2 left-1/2 -translate-x-1/2 w-8 h-1 bg-yellow-400 rounded-full scale-x-0 transition-transform duration-300"
      ></span>
      About
    </a>

    <!-- Contact -->
    <a
      routerLink="/contact"
      routerLinkActive="active-link bg-primary text-black"
      class="relative px-3 py-1 rounded-full transition-all duration-300 hover:bg-secondary hover:text-black"
    >
      <span
        class="indicator absolute -top-2 left-1/2 -translate-x-1/2 w-8 h-1 bg-yellow-400 rounded-full scale-x-0 transition-transform duration-300"
      ></span>
      Contact
    </a>
  </div>
</div>
