<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  <!-- White Block -->
  <div
    class="bg-white p-12 lg:p-20 flex flex-col justify-center min-h-[600px] lg:col-span-2 order-1 md:order-2 lg:col-span-2"
  >
    <h2 class="text-4xl lg:text-5xl font-normal mb-8 leading-tight text-black">
      We live and<br />
      breathe <span class="italic">design.</span>
    </h2>

    <div class="space-y-6">
      <h3 class="text-xl font-bold text-black">Our Story</h3>
      <p class="text-gray-800 text-base leading-relaxed">
        Founded by fredidy, SNAP Studio was born from a passion for pushing
        creative boundaries. What started as a small design collective has grown
        into a team that's actually been made by brands of all sizes.
      </p>
      <p class="text-gray-800 text-base leading-relaxed">
        When started the creative packaging (products) quickly grew into a full
        creative service, delivering 3D new renders, lifestyle renders, and
        everything in between. Today, we're proud to work with clients who value
        bold ideas and flawless execution, and fluores.
      </p>
    </div>
  </div>
  <!-- Profile Image Block -->
  <div
    class="bg-black flex items-center justify-center min-h-[600px] order-2 md:order-1"
  >
    <img src="/about/Amr.png" alt="Who we are" class="w-full h-full" />
  </div>
</section>
