<app-hare></app-hare>
<app-here-services></app-here-services>
<div class="overflow-hidden w-full bg-fontPrimary py-6 mb-12">
  <div class="flex w-max animate-marquee">
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>

    <!-- duplicate -->
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
    <div class="flex">
      <span class="mx-1 text-black text-5xl font-extrabold"> SELL. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> REPEAT. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> DESIGN. </span>
      <span class="mx-1 text-black text-5xl font-extrabold"> RENDER. </span>
    </div>
  </div>
</div>

<app-our-service></app-our-service>
<app-icons></app-icons>
<app-selected-work></app-selected-work>
<app-testimonial-slider></app-testimonial-slider>
<app-form></app-form>
